/* (2) NAVBAR */

.header_wrapper {
    margin-bottom: 6rem;
}

.header_wrapper .navbar {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 10rem;
    height: 5rem;
    background: no-repeat;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 0.625rem;
}

.header_wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-black);
    display: inline-block;
}

/* Improve specificity for the button hover style */
.header_wrapper .btn:hover {
    color: rgb(8, 83, 8);
    background-color: #fff;
}

.header_wrapper .nav-item .nav-link:active,
.header_wrapper .nav-item .nav-link:hover {
    color: rgb(18, 95, 18);
    cursor: pointer;
}

.header_wrapper .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #198754;
    transition: width 0.3s;
}

.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

/* Add styles for the scrolled header */
.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.375rem rgba(12, 0, 46, 0.05);
    -webkit-box-shadow: 0 0.25rem 0.375rem rgba(12, 0, 46, 0.05);
}
